* {
   margin: 0;
   padding: 0;
   }

   .container {
      width: 1140px;
      margin: 0 auto;
   }

body {font-family: sans-serif;

}

.paragraf {
   font-size: 16px;
   line-height: 26px;
   color: #1F3F68;
   width: 425px;
}

.heading {
   font-size: 64px;
   color: #1F3F68;
   width: 510px;
}

.heading_1 {font-weight: 500;
      font-size: 44px;
      text-align: center;
      width: 340px;
   }

   .heading_2 {
      font-size: 36px;
   text-align: center;
   width: 340px;
   }

   .heading_3 {
      font-size: 20px;
   line-height: 30px;
   color: #1F3F68;
   width: 340px;
   }

   .input {
      border: 1px solid #356EAD;
         box-sizing: border-box;
         border-radius: 10px;
         opacity: 0.4;
   }

   .button {
      background: #5A98D0;
   box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   text-transform: uppercase
   }

   .center_form{
   text-align: center;
   }

   .main_nav_menu {
      display: flex;
      justify-content: space-around;
   }

   .what-we-do_container {
   display: flex;
   justify-content:space-around;
   }
   .what-we-do{
      text-align: center;
   }

   .chapter_2_up_and {
      width: 495px;
   }

   .chapter_card_1 {
   width:  359px;
   }

   .chapter_card_2 {
   width:  359px;
   }

   .chapter_card_3 {
   width:   359px;
   }

.list {
   display: flex;
   justify-content: space-around;
}

.center {
display: flex;
justify-content: center;
}

.center_contact{
   
   flex-direction: column;
}

